.confirm {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 12px;
}

.cancelButton,
.confirmButton {
    min-width: 140px;
}

@media (width <= 576px) {
    .actions {
        flex-direction: column;
    }

    .cancelButton,
    .confirmButton {
        width: 100%;
    }
}
