.AvatarDropdown {
    display: flex;
}

.avatar {
    padding: 4px;
    border: 1px solid var(--card-border-redesigned);
    background: var(--sidebar-hover-bg-redesigned);
    box-shadow: 0 0 0 3px var(--sidebar-bg-redesigned);
}
